body {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:linear-gradient(0.5turn,#d4d2b9, #c5b68b, #d4d2b9);
}

.bg-gold{
  background:linear-gradient(0.5turn,#d4d2b9, #c5b68b, #d4d2b9);
  z-index: -10;
}
.bg-blue{
  background:linear-gradient(0.5turn,#8a89bd, #5c3dcc, #8a89bd);
  z-index: -100;
}

.bg-green{
  background:linear-gradient(0.5turn,#28ce5f, #078b33, #28ce5f);
  z-index: -100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button{
  border: none;
}

button:hover{
  cursor: pointer;
  filter: brightness(85%);
}
.wall2{
  width: 100%;
}

.block{
  position: absolute;
  height: 20%;
  width: 10%;
  background-color: rgb(255, 206, 142);
  border-radius: 10%;
  border:1px solid black;
}

.darkblock{
  position: absolute;
  height: 20%;
  width: 10%;
  background-color: rgb(252, 188, 115);
  border-radius: 10%;
  border:1px solid black;
  filter: brightness(40%);
  transition: all 0.3s ease;
}

.block:hover{
  cursor: pointer;
  filter: brightness(125%);
}

.input{
  max-width: 120px;
  font-size: 26px;
  border-radius: 3px;
  padding:5px;
}

.topbtn {
  padding:10px;
  border: none;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(90, 90, 90);
  font-weight: bold;
  border-radius: 25px;
  outline: none;
  border-radius: 15px;
  transition: 0.3s color;
}

.dotppl {
  margin-top: 4%;
  margin-left: 1.5%;
  position: absolute;
  height: 10%;
  width: 5%;
  background-color: rgb(212, 138, 150);
  opacity: 0.70;
  border-radius: 25px;
  box-shadow: 0 0 10px 2px;
  vertical-align: middle
}

.boxshadow{
  border-radius: 10px;
  box-shadow: 0 0 10px 2px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.shadow{
  margin-bottom: 0px;
  font-size: 15px;
  border-radius: 25px;
  box-shadow: 0 0 10px 2px;
  text-shadow:1px 1px 0 rgb(255, 255, 255), -1px -1px 0 rgb(255, 255, 255),
              -1px 1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255),
              0px 1px 0 rgb(255, 255, 255),  0-1px 0 rgb(255, 255, 255),
              -1px 0 0 rgb(255, 255, 255), 1px 0 0 rgb(255, 255, 255);
}

.nomargin{
  margin: 0
}

.smallbtn2{
  height: 50px;
  width: 130px;
  font-size: 25px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 25px;
  outline: none;
}

@keyframes shake {
  0% { top: 2%; left:5% }
  10% { top: 2.5%; left:5% }
  20% { top: 3%; left:5% }
  30% { top: 3.5%; left: 5% }
  40% { top: 4%; left: 5% }
  50% { top: 4.5%; left: 5% }
  60% { top: 4%; left: 5% }
  70% { top: 3.5%; left: 5% }
  80% { top: 3%; left: 5% }
  90% { top: 2.5%; left: 5% }
  100% { top: 2%; left: 5% }
}
@keyframes shake2 {
  0% { top: 5%; left:55% }
  10% { top: 5.5%; left:55% }
  20% { top: 6%; left:55% }
  30% { top: 6.5%; left: 55% }
  40% { top: 7%; left: 55% }
  50% { top: 7.5%; left: 55% }
  60% { top: 7%; left: 55% }
  70% { top: 6.5%; left: 55% }
  80% { top: 6%; left: 55% }
  90% { top: 5.5%; left: 55% }
  100% { top: 5%; left: 55% }
}

.color-pick{
  color: rgb(241, 147, 58)
}