.container-intro {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding:10px;
}

.container-main{
    max-width: 100vw;
    text-align: center;
}
button:focus {outline:0;}

.container-game{
    position: relative;
    width: 100%;
    height: 50vw;
    margin: 0 auto;
}
.game-mobile{
    max-width: 200vh;
    max-height: 100vh;
}
.game-pc{
    max-width: 140vh;
    max-height: 70vh;
}

.container-headbar{
    margin: 20px 0;
    background-image: url(./image/board.jpg);
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 30px;
}

.playercard{
    color: rgb(255, 255, 255);
    height: auto;
    margin: 5px auto;
    font-size: 25px;
    border-radius: 25px;
    padding: 0.5vw 1vw;
    width: 25%;
}

.myprice{
    margin: 30px auto;
    font-size: 30px;
    background-color: rgba(255,255,255,0.6);
    width: 170px;
    border-radius: 20px;
    box-shadow: 0 0 10px 2px;
}

.container-ranking{
    background-color: rgba(255,255,255,0.5);
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0.5vw;
    border-radius: 30px;
    box-shadow: 0 0 1vw 0.2vw;
}

.container-action{
    margin: 0 auto;
    width: 100%;
    max-width: 55vw;
    pointer-events: all;
}

.container-playercard{
    display: flex;
    flex-wrap: wrap;
}

.container-center {
    position: absolute;
    top: 35%;
    width: 100%;
    pointer-events: none;
}

.container-textboard{
    background-image: url(./image/board.jpg);
    max-width: 750px;
    box-shadow: 0 0 1vw 0.2vw;
    font-size: 40px;
    margin-bottom: 2vw;
    padding-top: 2%;
    padding-bottom: 3%;
    font-weight: 500;
}

.container-mini2{
    padding: 1vw;
    width: 100%;
    font-size: 30px;
    background-image: url(./image/board.jpg);
    box-shadow: 0 0 10px 2px;
}

.mediumbtn{
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: gray;
    font-weight: bold;
    border-radius: 25px;
    outline: none;
    border: groove;
    border-color: gray;
}
.minigame2-playercard{
    padding:1vw;
}

.btn {
    font-size: 45px;
    padding: 1% 2%;
    background-color: rgb(110, 110, 110);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 20px;
    outline: none;
    border: groove;
    border-color: gray;
    transition: 0.3s color;
}

.top-btn {
    font-size: 40px;
    padding: 10px 20px;
    background-color: orangered;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 20px;
    outline: none;
    border: groove;
    border-color: gray;
    transition: 0.3s color;
}

.smallbtn{
    font-size: 25px;
    padding: 1% 2%;
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-radius: 25px;
    outline: none;
    border: groove;
    border-color: gray;
    transition: 0.3s color;
}

.container-map{
    font-size: 25px;
}

.hovermenu{
    font-weight: 400;
    margin-top: 1vw;
    padding: 1vw;
    height: auto;
    width: 100%;
    box-shadow: 0 0 10px 2px;
}

.card{
    position: absolute;
    height: 25vw;
    width: 25vw;
    max-height: 40vh;
    max-width: 40vh;
    z-index: -10;
}
.card-explain{
    background-color: white;
    font-size: 20px;
    margin: 10px auto;
    max-width: 20%;
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
}

.win{
    animation: winning 1s infinite;
}
.dice{
    font-weight: 700;
    font-size: 150px;
    margin-top: 2vw;
}

.title{
    margin-top: 1vw;
    font-size: 80px;
    color: rgb(0, 0, 0);
}
.title2{
    margin-top: 1vw;
    margin-right: 1vw;
    font-size: 60px;
    text-shadow:1px 1px 0 rgb(0, 0, 0), -1px -1px 0 rgb(0, 0, 0),
                -1px 1px 0 rgb(0, 0, 0), 1px -1px 0 rgb(0, 0, 0),
                0px 1px 0 rgb(0, 0, 0),  0-1px 0 rgb(0, 0, 0),
                -1px 0 0 rgb(0, 0, 0), 1px 0 0 rgb(0, 0, 0);
}

.message{
    font-size: 40px;
    z-index: 120;
}
.card-2{
    padding: 2vw;
    background-color: rgba(255,255,255,0.7);
    font-size: 70px;
    box-shadow: 0 0 1vw 0.2vw;
}
.bottom-text{
    position: absolute;
    bottom: 0;
    right: 5%;
    font-size: 21px;
}

@media screen and (max-width: 1100px) {
    .container-map{
        font-size: 20px;
    }
    .title{
        font-size: 50px;
    }
    .title2{
        font-size: 30px;
    }
    .bottom-text{
        font-size: 17px;
    }
}

@media screen and (max-width: 900px) {
    .container-textboard{
        font-size: 23px;
    }
    .btn{
        font-size: 22px;
        border-radius: 10px;
    }
    .smallbtn{
        font-size: 15px;
        border-radius: 15px;
    }
    .container-map{
        font-size: 18px;
    }
    .playercard{
        font-size: 22px;
        border-radius: 22px;
    }
    .dice{
        font-size: 90px;
    }
    .card-explain{
        font-size: 15px;
    }
    .message{
        font-size: 30px;
    }
    .card-2{
        font-size: 50px;
    }
    .bottom-text{
        font-size: 10px;
    }
}

@media screen and (max-width: 700px) {
    .container-map{
        font-size: 15px;
    }
    .btn{
        font-size: 18px;
        border-radius: 7px;
    }
    .smallbtn{
        font-size: 10px;
        border-radius: 10px;
    }
    .playercard{
        font-size: 13px;
        border-radius: 13px;
    }
    .dice{
        font-size: 50px;
    }
    .card-explain{
        font-size: 10px;
    }
    .title{
        font-size: 30px;
    }
    .title2{
        font-size: 20px;
    }
    .message{
        font-size: 20px;
    }
    .card-2{
        font-size: 40px;
    }
}

@media screen and (max-width: 580px) {
    .container-textboard{
        font-size: 10px;
    }
    .container-map{
        font-size: 10px;
    }
    .btn{
        font-size: 13px;
        border-radius: 5px;
    }
}

@media screen and (max-height: 660px) {
    .container-textboard{
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    .container-textboard{
        font-size: 13px;
    }
}

@keyframes winning {
    0% { width: 25%}
    10% { width: 26%}
    20% { width: 27%}
    30% { width: 28%}
    40% { width: 29%}
    50% { width: 30%}
    60% { width: 29%}
    70% { width: 28%}
    80% { width: 27%}
    90% { width: 26%}
    100% { width: 25%}
}